/* src/app/globals.css */

@import "tailwindcss";


:root {
	--brand: #4A7BFF;
	--brand-darker10: #3A6BE6;
	--brand-light: #E8F0FF;
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

* {
    font-feature-settings: "ss01";
}

body {
	direction: rtl;
	scroll-behavior: smooth;
}

.fixed-width-number {
    font-feature-settings: "ss01", "tnum";
}


/* 

.hero-section {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/avenco-background.jpeg');
	background-size: cover;
	background-position: center;
}

.loader {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #10b981;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

input[type="tel"] {
	direction: ltr;
	text-align: right;
}

.text-brand {
	color: var(--brand);
}

.text-brand-dark {
	color: var(--brand-darker10);
}

.bg-brand {
	background-color: var(--brand);
}

.bg-brand-dark {
	background-color: var(--brand-darker10);
}

.bg-brand-light {
	background-color: var(--brand-light);
}

.border-brand {
	border-color: var(--brand);
} */